<%= link_to 'Back to all art cars', art_cars_path %>
<h1><%= @art_car.name %></h1>

<dt>Hometown</dt>
<dd><%= @art_car.hometown %></dd>

<dt>Power source</dt>
<dd><%= @art_car.power_source %></dd>

<dt>Flame effects</dt>
<dd><%= @art_car.flame_effects ? 'Yes' : 'No' %></dd>

<dt>Street legal</dt>
<dd><%= @art_car.street_legal ? 'Yes' : 'No' %></dd>

<dt>Photo</dt>
<dd><%= image_tag @art_car.photo_url, size: '800x600' %></dd>