<%= form_for @happy_hour do |f| %>
	<div>
		<%= f.label :name %><br />
		<%= f.text_field :name %>
	</div>

	<div>
		<%= f.label :hometown %><br />
		<%= f.text_field :hometown %>
	</div>

	<div>
		<%= f.label :address %><br />
		<%= f.text_field :address %>
	</div>

	<div>
		<%= f.label :photo_url %><br />
		<%= f.text_field :photo_url %>
	</div>

	<div><%= f.submit %>
	</div>
	<div><%= button_to "Cancel", happy_hour_path, :method => :get %>
	</div>
<% end %>